
!
version 12.3
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname Router36
!
boot-start-marker
boot-end-marker
!
enable secret 5 $1$YYjP$8aE.cpq1M7QrL5BX.dM1n/
!
no aaa new-model
ip subnet-zero
!
!
ip cef
!
ip audit po max-events 100
!
!
!
!
!
!
!
!
!
!
!
!
!
!
! 
!
interface Tunnel0
 ip address 172.16.0.1 255.255.255.0
 tunnel source FastEthernet0/0
 tunnel destination 192.168.98.21
 tunnel mode gre ip
!
!
!
interface FastEthernet0/0
 mac-address cc01.072b.0000
 ip address 192.168.99.223 255.255.254.0
 ip nat outside
 duplex auto
 speed auto
!
interface FastEthernet1/0
 mac-address cc01.072b.0010
 ip address 10.200.0.233 255.255.255.0
 ip nat inside
 ip policy route-map divert
 duplex auto
 speed auto
!
ip nat inside source list 102 interface FastEthernet0/0 overload
ip http server
no ip http secure-server
ip classless
ip route 0.0.0.0 0.0.0.0 192.168.99.1
!
route-map divert
 match ip address 102
 set ip next-hop 172.16.0.3
!
access-list 1 permit 10.200.0.0 0.0.0.255
access-list 102 permit any any
!
snmp-server community public RO
snmp-server community private RW 1
!
!
!
!
!
!
!
!
line con 0
line aux 0
line vty 0 4
 password offsec
 login
!
!
end
